@import "./largeScreen";
$largeScreenFontSize: 18px;
$mediumScreenFontSize: 14px;

*{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1600px){
    @include meniuType($largeScreenFontSize);
}

@media screen and (min-width: 600px) and (max-width: 1599px){
    @include meniuType($mediumScreenFontSize);
}

@media screen and (max-width: 599px){
    .largeNavBar{
        display: none;
    }
    .smallNavBar{
        width: 100%;
        background-color: rgb(56, 55, 55);
        display: block;
        text-align: right;
    }
    .meniu{
        list-style-type: none;
        display: -webkit-inline-flex;
        position: relative;
        .hamburgerMeniuContent{
            display: none;
            li{
                &:hover {
                background-color: cyan;
            } 
        }
            
        }
        li{
            list-style-type: none;
            background-color: rgb(56, 55, 55);
            height: 50px;
            width: 195px;
            line-height: 50px;
            float: left;
            text-align: center;
            z-index: 1;
            a{
                text-decoration: none;
                color: white;
                text-align: center;
                font-size: 18px;
                font-family: serif;
            }
        }
    }
    .hamburgerPopUp:hover .hamburgerMeniuContent{
        display: block;
    }
}
