*{
    margin: 0;
    padding: 0;
  }
.meniu{
    list-style-type: none;
    display: -webkit-inline-flex;
    li{
        z-index: 1;
        background-color: rgb(56, 55, 55);
        height: 50px;
        width: 195px;
        line-height: 50px;
        float: left;
        text-align: center;
        &:hover{
            background-color: rgb(46, 126, 46);
        }
        a{
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 18px;
            font-family: serif;
        }
        .sub-meniu{
            display: none;
            list-style-type: none;
            position: absolute;
            li{
                display: block;
                border: 1px solid white;
            }
        }
    }
}

.meniu li:hover .sub-meniu{
    display: flex;
}
