<a id="UpArrow" href="#"><i class="fas fa-arrow-up"></i></a>
<div class="disclaimer">
    <p>Disclaimer: Acest site este un proiect scolar!</p>
</div>
<div id = "baieteala"></div>

<script src="/js/mark_active_page.js"></script>