@mixin meniuType($fontSize){
    .smallNavBar{
        display: none;
    }
    .largeNavBar{
        width: 100%;
        background-color:  #3ea3f5;
        display: block;
        
    }
    .meniu{
        list-style-type: none;
        display: -webkit-inline-flex;
        
        li{
            cursor: pointer;
            z-index: 1;
            background-color: #3ea3f5;
            height: 50px;
            width: 195px;
            line-height: 50px;
            float: left;
            text-align: center;
            text-shadow: 0px -40px rgba(255,255,255,0);
            transition-duration: 1s;
            &:hover{
                background-color: #2397f7;
                text-shadow: 0px 0px rgba(255,255,255,1);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                
            }
            a{
                font-family: 'Dancing Script', cursive;
                text-decoration: none;
                color: white;
                text-align: center;
                font-size: $fontSize;
                font-family: serif;
            }
            .sub-meniu{
                display: none;
                list-style-type: none;
                li{
                    text-shadow: none;
                    transition: all 0.5s ease-in-out 0s;
                    display: inline-block;
                    &:hover{
                        background-color: #5d737e;
                    }
                    a{
                        transition: all 0.5s ease-in-out 0s;
                        position: relative;
                        text-decoration: none;
                        &::before{
                            content:"";
                            position: absolute;
                            background-color: black;
                            height: 2px;
                            width: 100%;
                            left: 0;
                            bottom: 0;
                            transform: scaleX(0);
                            transition: all 0.5s ease-in-out 0s;
                        }
                        &:hover::before{
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
    .meniu li:hover .sub-meniu{
        display: block;
    }
}


@keyframes shadowDrop{
    0%{

    }
}