.disclaimer {
    position: fixed;
    left: 0;
    bottom: 0;
    animation: tranzitieSus 6s linear forwards 1.5s;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    opacity: 0;
}

#UpArrow {
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 40px;
}

#UpArrow i {
    border-radius: 100%;
    border: solid 2px;
}

@keyframes tranzitieSus {

    0% {
        opacity: 1;
        transform: translateY(20px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0%);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}