@import "./animatedGallery";

.grid{
    padding-left: 50px;
    padding-top: 50px;
    display: inline-grid;
}

.grid figure:hover{
    transform: scale(1.3) translateY(-9px);
    background-color:gray;
    color: black;
}

.grid figure{
    width: 100px;
    height: 120px;
    transition: all 1.15s linear;
}

.clpath{
    display: grid;
    position: relative;
    left: 900px;
    bottom: 50px;
    width: 360px;
    height: 480px;
    border: 4px solid black;
}

.clpath .box{
    position: absolute;
    width: 100%;
    height: 100%;
}



.clpath .box:nth-child(1){
    background-image: url("/imagini_animated_grid/Rocky.jpg");
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 0);

}

.clpath .box:nth-child(2){
    background-image: url("/imagini_animated_grid/Max.jpg");
    clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
    z-index: 1;
}
.clpath .box:nth-child(2):hover{
    transition: 0.5s;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.clpath .box:nth-child(1):hover{
    z-index: 2;
    transition: 0.5s;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}


@media screen and (min-width: 900px){
    .grid{
        grid-template-columns: repeat(4, 180px);
        grid-template-rows: repeat(3, 160px);
    }
    #grid_item1{
        grid-area:1/1/1/1;
    }
    
    #grid_item2{
        grid-area:1/2/1/2;
    }
    
    #grid_item3{
        grid-area:1/3/1/3;
    }
    
    #grid_item4{
        grid-area:1/4/1/4;
    }
    
    #grid_item5{
        grid-area:2/1/2/1;
    }
    
    #grid_item6{
        grid-area:2/4/2/4;
    }
    
    #grid_item7{
        grid-area:3/1/3/1;
    }
    
    #grid_item8{
        grid-area:3/2/3/2;
    }
    
    #grid_item9{
        grid-area:3/3/3/3;
    }
    
    #grid_item10{
        grid-area:3/4/3/4;
    }
    @include galerieAnimata();
}

@media screen and (max-width: 899px) and (min-width: 500px){
    @include galerieAnimata();
    .grid{
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(2, 160px);
    }
}

@media screen and (max-width: 499px){
    .galerie{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1, 180px);
        grid-template-rows: repeat(1, 160px);
    }
}

@keyframes middle-split{
    0%{
        z-index: 10;
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%);
    }

    14.285714%{
        z-index:0;
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
    }

    14.285715%{
        z-index: -10;
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%);
    }

    100%{
        z-index: 0;
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%);
    }
}
