body {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head"
                         "info cont"
                         "info cont";
    
    header {
        grid-area: head;
    }

    #DeCeNoi {
        grid-area: info;
        width: auto;
        grid-template-areas: "atm dog"
            "food food";
    }

    #Atmosfera {
        display: inline-grid;
        grid-area: atm;
    }

    #Blanosi {
        display: inline-grid;
        grid-area: dog;
    }

    #food {
        position: absolute;
        grid-area: food;
    }

    #Contact {
        position: absolute;
        right: 5%;
        top:43%;
        grid-area: cont;
    }
}

#UpArrow{
    position: fixed;
    right: 5%;
    bottom: 5%;
    i{
        border-radius: 100%;
        border: solid 2px;
    }
    font-size: 40px;
}