@-webkit-keyframes shadowDrop {
  0% {
  }
}

@keyframes shadowDrop {
  0% {
  }
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1600px) {
  .smallNavBar {
    display: none;
  }
  .largeNavBar {
    width: 100%;
    background-color: #02111B;
    display: block;
  }
  .meniu {
    list-style-type: none;
    display: -webkit-inline-flex;
  }
  .meniu li {
    cursor: pointer;
    z-index: 1;
    background-color: #02111B;
    height: 50px;
    width: 195px;
    line-height: 50px;
    float: left;
    text-align: center;
    text-shadow: 0px -40px rgba(255, 255, 255, 0);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .meniu li:hover {
    background-color: #30292f;
    text-shadow: 0px 0px white;
  }
  .meniu li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: serif;
  }
  .meniu li .sub-meniu {
    display: none;
    list-style-type: none;
  }
  .meniu li .sub-meniu li {
    text-shadow: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;
  }
  .meniu li .sub-meniu li:hover {
    background-color: #5d737e;
  }
  .meniu li .sub-meniu li a {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    text-decoration: none;
  }
  .meniu li .sub-meniu li a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  .meniu li .sub-meniu li a:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .meniu li:hover .sub-meniu {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 1599px) {
  .smallNavBar {
    display: none;
  }
  .largeNavBar {
    width: 100%;
    background-color: #02111B;
    display: block;
  }
  .meniu {
    list-style-type: none;
    display: -webkit-inline-flex;
  }
  .meniu li {
    cursor: pointer;
    z-index: 1;
    background-color: #02111B;
    height: 50px;
    width: 195px;
    line-height: 50px;
    float: left;
    text-align: center;
    text-shadow: 0px -40px rgba(255, 255, 255, 0);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .meniu li:hover {
    background-color: #30292f;
    text-shadow: 0px 0px white;
  }
  .meniu li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: serif;
  }
  .meniu li .sub-meniu {
    display: none;
    list-style-type: none;
  }
  .meniu li .sub-meniu li {
    text-shadow: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;
  }
  .meniu li .sub-meniu li:hover {
    background-color: #5d737e;
  }
  .meniu li .sub-meniu li a {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    text-decoration: none;
  }
  .meniu li .sub-meniu li a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  .meniu li .sub-meniu li a:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .meniu li:hover .sub-meniu {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .largeNavBar {
    display: none;
  }
  .smallNavBar {
    width: 100%;
    background-color: #383737;
    display: block;
    text-align: right;
  }
  .meniu {
    list-style-type: none;
    display: -webkit-inline-flex;
    position: relative;
  }
  .meniu .hamburgerPopUp:hover {
    background-color: green;
  }
  .meniu .hamburgerMeniuContent {
    display: none;
  }
  .meniu .hamburgerMeniuContent li:hover {
    background-color: cyan;
  }
  .meniu .hamburgerMeniuContent .sub-meniu {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .meniu li {
    list-style-type: none;
    background-color: #383737;
    height: 50px;
    width: 195px;
    line-height: 50px;
    float: left;
    text-align: center;
    z-index: 1;
  }
  .meniu li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: serif;
  }
  .hamburgerPopUp:hover .hamburgerMeniuContent {
    display: block;
  }
  .hamburgerPopUp:hover .hamburgerMeniuContent li a {
    -webkit-animation: tracking-in-expand 0.6s linear;
            animation: tracking-in-expand 0.6s linear;
  }
  #sectiuni:hover .sub-meniu {
    -webkit-transition: linear 0.7s;
    transition: linear 0.7s;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=nav.css.map */