@-webkit-keyframes shadowDrop {
  0% {
  }
}

@keyframes shadowDrop {
  0% {
  }
}

* {
  margin: 0;
  padding: 0;
}

.bx_shadow {
  width: 100%;
  height: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #240090;
}

.title {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#190061), to(#240090));
  background-image: linear-gradient(#190061, #240090);
}

.title h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
  color: white;
  text-shadow: -1px -1px 0px #1f1ffc, 3px 3px 0px #1f1ffc;
}

@media screen and (min-width: 1600px) {
  .smallNavBar {
    display: none;
  }
  .largeNavBar {
    width: 100%;
    background-color: #240090;
    display: block;
  }
  .meniu {
    list-style-type: none;
    display: -webkit-inline-flex;
  }
  .meniu .active {
    background-color: cadetblue;
  }
  .meniu li {
    cursor: pointer;
    z-index: 1;
    background-color: #240090;
    height: 50px;
    width: 195px;
    line-height: 50px;
    float: left;
    text-align: center;
    text-shadow: 0px -40px rgba(255, 255, 255, 0);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .meniu li:hover {
    background-color: #3500D3;
    text-shadow: 0px 0px white;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .meniu li a {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: serif;
  }
  .meniu li .sub-meniu {
    display: none;
    list-style-type: none;
  }
  .meniu li .sub-meniu li {
    text-shadow: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;
  }
  .meniu li .sub-meniu li:hover {
    background-color: #3500D3;
  }
  .meniu li .sub-meniu li a {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    text-decoration: none;
  }
  .meniu li .sub-meniu li a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  .meniu li .sub-meniu li a:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .meniu li:hover .sub-meniu {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 1599px) {
  .smallNavBar {
    display: none;
  }
  .largeNavBar {
    width: 100%;
    background-color: #240090;
    display: block;
  }
  .meniu {
    list-style-type: none;
    display: -webkit-inline-flex;
  }
  .meniu .active {
    background-color: cadetblue;
  }
  .meniu li {
    cursor: pointer;
    z-index: 1;
    background-color: #240090;
    height: 50px;
    width: 195px;
    line-height: 50px;
    float: left;
    text-align: center;
    text-shadow: 0px -40px rgba(255, 255, 255, 0);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .meniu li:hover {
    background-color: #3500D3;
    text-shadow: 0px 0px white;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .meniu li a {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: serif;
  }
  .meniu li .sub-meniu {
    display: none;
    list-style-type: none;
  }
  .meniu li .sub-meniu li {
    text-shadow: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;
  }
  .meniu li .sub-meniu li:hover {
    background-color: #3500D3;
  }
  .meniu li .sub-meniu li a {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    text-decoration: none;
  }
  .meniu li .sub-meniu li a::before {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  .meniu li .sub-meniu li a:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .meniu li:hover .sub-meniu {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .title h1 {
    font-size: 5vw;
  }
  .largeNavBar {
    display: none;
  }
  .smallNavBar {
    width: 100%;
    background-color: #240090;
    display: block;
    text-align: right;
  }
  .meniu {
    list-style-type: none;
    display: -webkit-inline-flex;
    position: relative;
  }
  .meniu .hamburgerPopUp:hover {
    background-color: #3500D3;
    text-shadow: 0px 0px white;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .meniu .hamburgerMeniuContent {
    display: none;
  }
  .meniu .hamburgerMeniuContent li:hover {
    background-color: #3500D3;
    text-shadow: 0px 0px white;
    -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .meniu .hamburgerMeniuContent .sub-meniu {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .meniu li {
    list-style-type: none;
    background-color: #240090;
    height: 50px;
    width: 195px;
    line-height: 50px;
    float: left;
    text-align: center;
    z-index: 1;
  }
  .meniu li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: serif;
  }
  .hamburgerPopUp:hover .hamburgerMeniuContent {
    display: block;
  }
  .hamburgerPopUp:hover .hamburgerMeniuContent li a {
    -webkit-animation: tracking-in-expand 0.6s linear;
            animation: tracking-in-expand 0.6s linear;
  }
  #sectiuni:hover .sub-meniu {
    -webkit-transition: linear 0.7s;
    transition: linear 0.7s;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

a {
  font-family: 'Dancing Script', cursive;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=nav.css.map */