<section id="Contact">
    <h2>Ore de lucru si date de contact:</h2>
    <p><strong>Atentie!</strong> Din data de <time datetime="2020-08-06">06.08.2020</time></p>
    <p><span class="fas fa-virus"></span>Covid hours:<span class="fas fa-virus"></span></p> <ul>
            <li>Luni-Vineri: 14:00-23:00</li>
            <li>Sambata-Duminica: 12:00-23:00</li>
            </ul>
            <address>
                <p>Telefon: 074555333</p>
                <p>Email: <a href="mailto:anemona@rezervari.ro"> anemona@rezervari.ro</a></p>
                <p>Site: <a href="www.anemona.ro">www.anemona.ro</a></p>
                <p>Adresa: Parcul Tineretului, Intrarea Urcuşului 23, București</p>
            </address>
</section>
<a id="UpArrow" href="#"><i class="fas fa-arrow-up"></i></a>
<div class="disclaimer">
    <p>Disclaimer: Acest site este un proiect scolar!</p>
</div>