<h1>Anemona Bistro Bar</h1>
<nav class="largeNavBar">
  <ul class="meniu">
    <li class="active"><i class="fas fa-home" style="color:white"></i><a href="index.html">Acasa</a></li>
    <li><a> Informatii Generale </a>
      <ul class="sub-meniu">
        <li><a href="meniu.html">Meniu</a></li>
        <li><a href="paginaGrid.html">Galerie cu poze</a></li>
      </ul>
    </li>
    <li><a> Sectiuni </a>
      <ul class="sub-meniu">
        <li><a href="#DeCeNoi">De ce noi?</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </li>
  </ul>
</nav>
<nav class="smallNavBar">
  <ul class="meniu">
    <li class="hamburgerPopUp"><i class="fas fa-bars"></i>
      <ul>
        <div class="hamburgerMeniuContent">
          <li><a href="index.html">Acasa</a></li>
          <li><a href="meniu.html">Meniu</a></li>
          <li><a href="paginaGrid.html">Galerie cu poze</a></li>
          <li><a href="#DeCeNoi">De ce noi?</a></li>
          <li><a href="#Contact">Contact</a></li>
        </div>
      </ul>
    </li>
  </ul>
</nav>