<meta charset="utf-8">
<meta name="keywords" content="bar, bistro, relax, parc">
<meta name="description" content="Site-ul barului Anemona">
<meta name="author" content="Costea Ionut-Andrei">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://img.icons8.com/color/48/000000/beer.png" type="image/png">

<link rel="stylesheet" href="css/disclaimer.css">
<link rel="stylesheet" href="css/deCeNoi.css">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/index.css">

<!--Google External Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">

<title>Anemona Bar|Bucuresti</title>