<section id="DeCeNoi">
  <!-- De ce sa vii la noi? -->
  <h2>Berceni's Finest Bar</h2>
  <p>Ascuns in inima parcului Tineretului, Anemona Bistro Bar este ferit de haosul
    urban si ofera o experienta de neuitat</p>
  <!-- Videoclip pentru promovare -->
  <div class="webvtt">
    <video width="500px" height="auto" controls>
      <source src='/video/upc-tobymanley.theora.ogg' type='video/ogg'>
      <source src='/video/upc-tobymanley.mp4' type='video/mp4'>
      <track label="English subtitles" kind="subtitles" srclang="en" src="/video/upcSubtitle.vtt"
        default>
    </video>
  </div>

  <section>
    <section id="Atmosfera">
      <h3>Atmosfera placuta:</h3>

      <p>Un loc intim, de o eleganta subtila si cu bauturi revigorante.
        Anemona Bistro Bar este locul ideal <br> pentru a te intalnii cu prietenii si familia,
        pentru o bautura racoritoare care sa te faca sa uiti de o zi <br> lunga sau chiar si pentru
        o intalnire romantica la apus de soare.</p>
      <img src="/imagini/anemonaTerasa.jpg" alt="OOF" width="450px" height="300px">
    </section>
    <section id="Blanosi">
      <h3>Companie blanoasa:</h3>

      <p>Te asteptam alaturi de cei mai noi membrii ai familiei noastre Max si Rocky</p>

      <picture>
        <source media="(min-width:700px)" srcset="/imagini/Max.jpg" width="300">
        <img src="/imagini/Rocky.jpg" alt="Flowers" width="150">
      </picture>

      <p>Blanosii nostrii prietenosi te astepta la o bere rece sau o ciocolata calda
        in oricezi a saptamanii</p>
    </section>

    <section id="food">
      <h3>Mancare si bautura din belsug:</h3>
      <p>Suntem oricand gata sa te servim cu o selectie rafinata de bauturi si mancaruri
        atat locale cat si internationale la preturi accesibile.</p>
    </section>
  </section>
</section>