<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>404</title>
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 style="font-size: 100px;">404 Pagina nu a fost gasita!</h1>
    <p style="font-size: 40px;">Cât căutăm noi cererea ta, te invităm la o bere! <i class="fa fa-beer" aria-hidden="true"></i></p>
    <footer>
        <div class="disclaimer">
            <p>Disclaimer: Acest site este un proiect scolar!</p>
        </div>
    </footer>
</body>
</html>