<!DOCTYPE html>
<html lang="ro" dir="ltr">

<head>
    <link rel="stylesheet" href="/css/text-over-video.css">
    <link rel="stylesheet" href="/css/deCeNoi.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--<link rel="stylesheet" href="/css/index.css">-->

    <%- include('../partials/head'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w=="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw=="
        crossorigin="anonymous"></script>


    <title>Anemona Bar|Bucuresti</title>

</head>

<body>

    <header>
        <div class="hdr">
            <%- include('../partials/header'); %>
        </div>
    </header>

    <!--
    <div class = "text-over-video">
         Videoclip pentru promovare 
        <div class="webvtt">
            <video id = "vid" autoplay muted>
                <source src='video/bar_presentation.mp4' type='video/mp4'>
                <<track label="English subtitles" kind="subtitles" srclang="en" src="video/upcSubtitle.vtt" default>
            </video>
        </div>
        <h2>Berceni's Finest Bar</h2>
        <p>Ascuns in inima parcului Tineretului, Anemona Bistro Bar este ferit de haosul
            urban si ofera o experienta de neuitat</p>
    </div>
    -->
    <section class="hero">
        <div class="animated-image">
            <img src="/imagini/bar.png" alt="Unde-i Paradisu?">
        </div>
    </section>

    <h1 class="Headline"> Berceni's Finest Bar </h1>

    <div class="slider"></div>



    <section id="DeCeNoi">

        <div id="Caini">
            <h3>Companie blanoasa:</h3>

            <p>Te asteptam alaturi de cei mai noi membrii ai familiei noastre Max si Rocky</p>

            <picture>
                <source media="(min-width:700px)" srcset="imagini/Max.jpg" width="300">
                <img src="imagini/Rocky.jpg" alt="Flowers" width="150">
            </picture>

            <p>Blanosii nostrii prietenosi te astepta la o bere rece sau o ciocolata calda
                in oricezi a saptamanii</p>
        </div>

        <div id="Atmosfera">
            <h3>Atmosfera placuta:</h3>

            <p>Un loc intim, de o eleganta subtila si cu bauturi revigorante.
                Anemona Bistro Bar este locul ideal <br> pentru a te intalnii cu prietenii si familia,
                pentru o bautura racoritoare care sa te faca sa uiti de o zi <br> lunga sau chiar si pentru
                o intalnire romantica la apus de soare.</p>
            <img src="imagini/anemonaTerasa.jpg" alt="OOF" width="450px" height="300px">
        </div>

        <div id="Mancare">
            <h3>Mancare si bautura din belsug:</h3>
            <p>Suntem oricand gata sa te servim cu o selectie rafinata de bauturi si mancaruri
                atat locale cat si internationale la preturi accesibile.</p>
        </div>

    </section>

    <section class="contact">
        <div class="orar">
            <h2>Ore de lucru si date de contact:</h2>
            <p><strong>Atentie!</strong> Din data de <time datetime="2020-08-06">06.08.2020</time></p>
            <p><span class="fas fa-virus"></span>Covid hours:<span class="fas fa-virus"></span></p>
            <ul>
                <li>Luni-Vineri: 14:00-23:00</li>
                <li>Sambata-Duminica: 12:00-23:00</li>
            </ul>
        </div>

        <div class="adresa">
            <address>
                <p>Telefon: 074555333</p>
                <p>Email: <a href="mailto:anemona@rezervari.ro"> anemona@rezervari.ro</a></p>
                <p>Site: <a href="www.anemona.ro">www.anemona.ro</a></p>
                <p>Adresa: Parcul Tineretului, Intrarea Urcuşului 23, București</p>
            </address>
        </div>

    </section>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

<script src="/js/slider_animation.js"></script>

</html>