<!DOCTYPE html>
<html lang="ro" dir="ltr">
<head>
    <%- include('../partials/index/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/index/header'); %>
</header>

<main>
    <%- include('../partials/index/main'); %>
</main>

<footer>
    <%- include('../partials/index/footer'); %>
</footer>

</body>
</html>